<modal id="{{id}}" title="{{title}}" size="{{size}}" collection="{{collection}}" submit="{{subscribe}}" email="{{email}}">
	{{#links}}
		<div class="row" style="padding: 0 5px">
			<div class="col-xs-2 col-xs-offset-9" style="text-align: right">
				Group links
			</div>
			<div class="col-sm-1">
				<input type="checkbox" class="switch-inline" id="group-links" checked="{{groupLinks}}" value="1">
				<label for="group-links"></label>
			</div>
		</div>
		<ul id="link-list" class="list-style-none">
			{{#js.length}}
				<li><strong>JS</strong></li>
				{{#js}}
					<li><input type="text" class="form-control output" value='{{app.cdnRoot}}/{{this}}' readonly></li>
				{{/js}}
			{{/js}}

			{{#css.length}}
				<li><strong>CSS</strong></li>
				{{#css}}
					<li><input type="text" class="form-control output" value='{{app.cdnRoot}}/{{this}}' readonly></li>
				{{/css}}
			{{/css}}

			{{#others.length}}
				<li><strong>Others</strong></li>
				{{#others}}
					<li><input type="text" class="form-control output" value='{{app.cdnRoot}}/{{this}}' readonly></li>
				{{/others}}
			{{/others}}
		</ul>

		<div class="email-updates">
			{{^subscribed}}
				<strong>E-mail updates</strong>
				<input type="text" class="form-control" value="{{email}}" placeholder="Enter your e-mail address if you want to receive updates">
				<div>
					<button class="btn primary btn-inverse" on-click="submit">Keep me updated</button>
				</div>
			{{/subscribed}}

			{{#subscribed}}
				<p>We'll send you an e-mail to <a href="mailto:{{email}}">{{email}}</a>  when there is a new version available.</p>
			{{/subscribed}}
		</div>
	{{/links}}
</modal>

<script type="text/javascript">
	var linkBuilder		= require('build-links');
	var modal			= require('rvc!components/modal');

	component.exports	= {
		'el'		: 'body',
		'append'	: true,
		'components': {
			'modal'	: modal
		},
		'computed'	: {
			'links'	: function() {
				return linkBuilder(this.get('collection'), this.get('groupLinks'))
			},
			'title'	: function() {
				return 'Your link' + ((this.get('links.css').length + this.get('links.js').length + this.get('links.others').length) > 1 ? 's' : '');
			}
		},
		'data'		: {
			'app'			: {},
			'collection'	: {},
			'email'			: '',
			'groupLinks'	: true,
			'id'			: 'modal-links',
			'linkBuilder'	: linkBuilder,
			'size'			: 'modal-lg',
			'subscribed'	: false,
			'subscribe'		: function() {
				if(/^[^@]+@[^@]+\.[a-z]{2,}$/i.test(this.get('email'))) {
					this.set('subscribed', true);
					// TODO-LATER
				}

				return false;
			}
		}
	};
</script>