<input type="text" id="search-input" class="form-control input-lg" placeholder="Search in more than {{count}} open source projects" value="{{query}}">
<p class="show-more"><a href='#!{"query":"*"}'>Browse all projects</a></p>

<script type="text/javascript">
	var algolia			= require('algolia');
	var search			= require('search');
	component.exports	= {
		'data'		: {
			'count'	: 1050,
			'loaded': false,
			'page'	: 0,
			'query'	: ''
		},
		'complete'	: function() {
			var _this	= this;
			var app		= this.get('app');

			// count projects
			if(window.localStorage) {
				var now		= Date.now();
				var count	= localStorage.getItem('count');
				var expires	= localStorage.getItem('expires');

				if(now < expires) {
					this.set('count', count);
				} else {
					algolia.search('', function(success, response) {
						count = Math.floor(response.nbHits / 50) * 50;

						localStorage.setItem('count', count);
						localStorage.setItem('expires', now + 604800000);
						_this.set('count', count)
					}, { 'analytics': false });
				}
			} else {
				algolia.search('', function(success, response) {
					_this.set('count', Math.floor(response.nbHits / 50) * 50)
				}, { 'analytics': false });
			}

			// update results on input
			this.observe('page query loaded', function(newValue, oldValue, keypath) {
				if(this.get('loaded')) {
					if(keypath === 'query' && this.get('page')) {
						this.set('page', 0)
					} else {
						search(this.get('query').toString(), this.get('page'), function(response, query) {
							// the query might have changed since we sent the request
							if(query === _this.get('query')) {
								app.views.searchResults.set('projects', $.extend(true, [], response.hits));
								app.views.searchResults.set('nbPages', response.nbPages || 0);
								app.views.searchResults.set('page', response.page || 0);
							}
						});
					}
				}
			}, { 'init': false });

			// auto focus on load
			$('#search-input').focus();

			// restore query from hash
			$(window).triggerHandler('searchReady');
		}
	};
</script>