<modal id="{{id}}" title="{{title}}" project="{{project}}" buttons="{{buttons}}" submit="{{submit}}">
	<ol id="file-list" class="list-style-none">
		{{# listFiles(project):i }}
			<li>
				<input type="checkbox" class="checkbox primary" id="file{{i}}" value="{{this}}" checked="{{this === project.mainfile}}">
				<label for="file{{i}}">{{this}}</label>
			</li>
		{{/}}
	</ol>
</modal>

<script type="text/javascript">
	var listFiles		= require('list-files');
	var modal			= require('rvc!components/modal');

	component.exports	= {
		'el'		: 'body',
		'append'	: true,
		'components': {
			'modal'	: modal
		},
		'data'		: {
			'callback'	: null,
			'id'		: 'modal-select-files',
			'listFiles'	: listFiles,
			'title'		: 'Select files to include',
			'project'	: {},
			'buttons'	: [
				{
					'label'		: 'cancel',
					'class'		: 'btn-default',
					'handler'	: 'cancel'
				},
				{
					'label'		: 'select',
					'class'		: 'primary',
					'handler'	: 'submit'
				}
			],
			'submit'	: function() {
				var files = Array.prototype.slice.call($('#' + this.get('id'))
					.find('input:checked'))
					.map(function(element) {
						return element.value
					});

				if(files.length && typeof this.get('callback') === 'function') {
					this.get('callback')($.extend($.extend(true, {}, this.get('project')), {
						'selectedFiles'	: files
					}));
				}
			}
		}
	};
</script>