{{#project}}
	<ul class="dropdown-menu {{class}}" role="menu">
		{{#versions:j}}
			{{#this !== selectedVersion}}
				<li><a class="link" on-click="set:{{'projects.' + i + '.selectedVersion'}},{{this}}">{{this}}</a></li>
			{{/}}
		{{/versions}}

		{{#versions.length > 1}}<li class="divider"></li>{{/versions}}

		<li><a class="link" on-click="reportNew:{{projects[i]}}">Found newer version?</a></li>
	</ul>
{{/project}}

<script type="text/javascript">
	var ReportNewVersionView	= require('rvc!components/report-new-version');
	var SelectFilesView			= require('rvc!components/select-files');

	component.exports			= {
		'data'	: {
			'class'		: '',
			'index'		: null,
			'project'	: {}
		},
		'init'		: function() {
			var _this = this;

			this.on({
				'reportNew'	: function(event, project) {
					new ReportNewVersionView({
						'data'	: {
							'project'	: project
						}
					});
				},
				'set'		: function(event, keypath, value) {
					_this.set(keypath, value);

					var project	= this.get('project');
					var assets	= project.assets.filter(function(assets) {
						return assets.version === project.selectedVersion;
					})[0];

					// reselect files if some of them are not available in this version
					for(var x in project.selectedFiles) {
						if(project.selectedFiles.hasOwnProperty(x)) {
							if(assets.files.indexOf(project.selectedFiles[x]) === -1) {
								_this.get('app').views.collection.get('projects').splice(_this.get('index'), 1);

								new SelectFilesView({
									'data'	: {
										'app'		: this.get('app'),
										'project'	: project,
										'callback'	: function(project) {
											_this.get('app').views.collection.get('projects').push(project);
										}
									}
								});

								break;
							}
						}
					}
				}
			})
		}
	};
</script>