body {
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
.navbar {
  border-top: none;
}
.navbar .navbar-nav > li > a.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .navbar-nav > li > a.navbar-brand:hover,
.navbar .navbar-nav > li > a.navbar-brand:focus {
  background-color: #ffffff;
}
.navbar .navbar-nav > li > a.navbar-brand img {
  height: 30px;
}
blockquote {
  border-color: #e80c1f;
  font-size: 14px;
}
header h1,
header h2 {
  text-align: center;
}
section {
  margin-top: 40px;
}
.btn.zeroclipboard-is-hover {
  border: 1px solid #333333;
}
.container {
  overflow: hidden;
}
.featured {
  text-align: center;
}
.featured img {
  width: 100px;
  height: auto;
}
.item {
  padding: 5px 0;
}
.item + .item {
  border-top: 1px solid #333333;
}
.link {
  cursor: pointer;
}
.list-style-none {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.more-files {
  width: 100%;
  display: none;
}
.output {
  cursor: text !important;
}
.show-more {
  text-align: center;
}
*:focus,
*:hover {
  outline-color: #e80c1f !important;
}
::selection {
  color: #ffffff;
  background: #e80c1f;
}
::-moz-selection {
  color: #ffffff;
  background: #e80c1f;
}
#my-collection {
  margin-top: 40px;
}
.collection-item {
  line-height: 34px;
}
#search-input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
  height: 50px;
  font-size: 20px;
  line-height: 25px;
}
.result h4 {
  color: #e80c1f;
  margin-bottom: 0;
}
.result p {
  margin-top: 10px;
}
.result .buttons {
  text-align: right;
}
.file-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
footer {
  color: #ffffff;
  background-color: #333333;
  padding: 40px 0 20px 0;
}
footer li:first-child {
  text-transform: uppercase;
  margin-bottom: 10px;
}
#copyright {
  margin-top: 20px;
  border-top: 1px solid #262626;
  padding-top: 20px;
  text-align: center;
}
.email-updates {
  margin-top: 20px;
}
.email-updates div {
  margin-top: 30px;
  text-align: center;
}
.email-updates p {
  margin-bottom: 0;
  text-align: center;
}
.modal-open {
  margin-left: -17px;
}
